.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
h1 {
  font-size: 8rem;
}

P {
  font-size: 20px;
}

.container button {
  padding: 1rem;
}
